body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     /* Fondo con colores */
     background: linear-gradient(
        135deg,
        #121212 25%,
        #1a1a1a 25%,
        #1a1a1a 50%,
        #121212 50%,
        #121212 75%,
        #1a1a1a 75%,
        #1a1a1a
    );
    background-size: 40px 40px;
    animation: move 4s linear infinite;
}
@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}

h1, h2 {
    text-align: center;
    color: #ffffff;
}
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}
label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="date"],
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #61a7f3;
}
table {
    width: 80%;
    border-collapse: collapse;

    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 12px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
    text-align: center;
}
.btn-eliminar {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.btn-eliminar:hover {
    background-color: #c82333;
}
.td-operaciones {
    width: 220px;
}
.td-estado {
    width: 180px;
}


